<!--<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>-->

<div class="row">
  <div class="card-border mb-3 card card-body border-focus"><h5 class="card-title">ANTI COVID
    <span class="mr-2 opacity-7">
      <i class="fa fa-cog fa-spin"></i>
    </span>
  </h5>
    Trang quản lý danh sách bệnh nhân viêm đường hô hấp cấp Covid-19
  </div>
</div>

<div class="row">
  <div class="col-8">
    <div class="mb-3 card">
      <div class="no-gutters row">
      <div class="col-xl-2">
        <div class="card no-shadow rm-border bg-transparent widget-chart">
          <div class="btn-wide btn btn-success btn-vietnam">
            <span class="btn-success">VIỆT NAM</span>
          </div>
        </div>
        <div class="divider m-0 d-md-none d-sm-block"></div>
      </div>
      <div class="col-sm-3 col-md-3 col-xl-3">
        <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
          <div class="widget-chart-content">
            <div class="widget-infection">SỐ CA NHIỄM</div>
            <div class="widget-numbers"><span>1.068</span></div>
          </div>
        </div>
        <div class="divider m-0 d-md-none d-sm-block"></div>
      </div>
      <div class="col-sm-3 col-md-3 col-xl-3">
        <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
          <div class="widget-chart-content">
            <div class="widget-treatment">ĐANG ĐIỀU TRỊ</div>
            <div class="widget-numbers"><span>83</span></div>
          </div>
        </div>
      </div>
      <div class="col-sm-2 col-md-2 col-xl-2">
        <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
          <div class="widget-chart-content">
            <div class="widget-cured">KHỎI</div>
            <div class="widget-numbers"><span>947</span></div>
          </div>
        </div>
      </div>
      <div class="col-sm-2 col-md-2 col-xl-2">
        <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
          <div class="widget-chart-content">
            <div class="widget-die">TỬ VONG</div>
            <div class="widget-numbers"><span>35</span></div>
          </div>
        </div>
      </div>
    </div>
      <hr>
      <div class="no-gutters row mb-2">
      <div class="col-xl-2">
        <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
          <div class="btn-wide btn btn-info btn-foreign">
            <span class="btn-info">THẾ GIỚI</span>
          </div>
        </div>
        <div class="divider m-0 d-md-none d-sm-block"></div>
      </div>
      <div class="col-sm-3 col-md-3 col-xl-3">
        <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
          <div class="widget-chart-content">
            <div class="widget-infection">TỔNG CA NHIỄM</div>
            <div class="widget-numbers"><span>31.482.599</span></div>
          </div>
        </div>
        <div class="divider m-0 d-md-none d-sm-block"></div>
      </div>
      <div class="col-sm-3 col-md-3 col-xl-3">
        <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
          <div class="widget-chart-content">
            <div class="widget-treatment">ĐANG NHIỄM</div>
            <div class="widget-numbers"><span>7.403.216</span></div>
          </div>
        </div>
      </div>
      <div class="col-sm-2 col-md-2 col-xl-2">
        <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
          <div class="widget-chart-content">
            <div class="widget-cured">KHỎI</div>
            <div class="widget-numbers"><span>23.110.085</span></div>
          </div>
        </div>
      </div>
      <div class="col-sm-2 col-md-2 col-xl-2">
        <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
          <div class="widget-chart-content">
            <div class="widget-die">TỬ VONG</div>
            <div class="widget-numbers"><span>969.298</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card main-card mt-4 mb-3">
      <div class="card-body">
        <app-dynamic-chart></app-dynamic-chart>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div id="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7864040.491066362!2d101.41541198055391!3d15.758357529189878!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31157a4d736a1e5f%3A0xb03bb0c9e2fe62be!2sVietnam!5e0!3m2!1sen!2s!4v1598458059625!5m2!1sen!2s"
              width="300px" height="450" frameborder="0" style="border-radius:3px;" allowfullscreen="" aria-hidden="false" tabindex="0">
      </iframe>
    </div>
  </div>
</div>
