<!--List User-->

<div class="search-wrapper mb-4" [class.active]="isActive">
	<div class="input-holder">
		<input type="text" placeholder="Tìm tên bệnh nhân" class="search-input">
		<button class="search-icon" (click)="isActive = true"></button>
	</div>
	<button class="close" (click)="isActive = false"></button>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="main-card mb-3 card" >
			<div class="card-body">
				<table class="mb-0 table table-striped">
					<thead>
					<tr>
						<th>STT</th>
						<th>Tên</th>
						<th>Số điện thoại</th>
						<th>Email</th>
						<th>Địa điểm</th>
						<th>Tác vụ</th>
					</tr>
					</thead>
					<tbody>
					<tr *ngFor="let item of datas | paginate: { itemsPerPage: 5, currentPage: p }; let i = index" >
<!--						<th scope="row"></th>-->
						<td>{{ i + 1 }}</td>
						<td>{{item.userName}}</td>
						<td>{{item.phone}}</td>
						<td>{{item.email}}</td>
						<td>{{item.address}}</td>
						<td><i class="vsm-icon pe-7s-trash ico-trash" (click)="Delete(item.id)"></i></td>
					</tr>
					</tbody>
					<p *ngIf="datas.length == 0" style="text-align: center;margin-top: 20px;font-size: large;"> Không có user nào ! </p>
				</table>
			</div>
		</div>
	</div>
</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>


