<!--List User-->
<app-loading *ngIf="loadingTable">{{ loadingTable }}</app-loading>

<div class="search-wrapper mb-3" [class.active]="isActive">
	<div class="input-holder">
		<input type="text" placeholder="Tìm người dùng" class="search-input" [(ngModel)]="email" (input)="Search()">
		<button class="search-icon" (click)="isActive = true"><span></span></button>
	</div>
	<button class="close" (click)="isActive = false"></button>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="main-card mb-3 card" >
			<div class="card-body">
				<table class="mb-0 table table-striped">
					<thead>
					<tr>
						<th>STT</th>
						<th>Tên</th>
						<th>Số điện thoại</th>
						<th>Email</th>
						<th>Địa điểm</th>
					</tr>
					</thead>
					<tbody>
					<tr *ngFor="let item of datas | paginate: { itemsPerPage: 10, currentPage: p }; let i = index" >
						<td>{{ i + 1 }}</td>
						<td>{{item.userName}}</td>
						<td>{{item.phone}}</td>
						<td>{{item.email}}</td>
						<td>{{item.address}}</td>
<!--						<td><i class="vsm-icon pe-7s-trash ico-trash" (click)="Delete(item.id)"></i></td>-->
					</tr>
					</tbody>
					<p *ngIf="datas.length == 0" style="text-align: center;margin-top: 20px;font-size: large;"> Không có user nào ! </p>
				</table>
			</div>
			<pagination-controls (pageChange)="p = $event"></pagination-controls>
		</div>
	</div>
</div>



