<style>
	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type=number] {
		-moz-appearance: textfield;
	}

	.form-control:valid {
		background-image: none;
	}


	.form-control:is-invalid {
		background-image: none;
	}
</style>

<div class="search-wrapper" [class.active]="isActive">
	<div class="input-holder">
		<input type="text" placeholder="Tìm tên bệnh nhân" class="search-input" [(ngModel)]="patientName" (input)="Search()">
		<button class="search-icon" (click)="isActive = true"><span></span></button>
	</div>
	<button class="close" (click)="isActive = false"></button>
</div>
<div class="row">
	<div class="col-lg-12">
		<ng-template #content let-c="close" let-d="dismiss">
			<div class="modal-header">
				<h4 class="modal-title">Thêm bệnh nhân</h4>
				<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form name="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
					<div class="position-relative form-group">
						<label for="name">Họ và tên</label>
						<input name="name" id="name" formControlName="name" type="text" class="form-control"
							   [ngClass]="{ 'is-invalid': submitted && f.name.errors}" placeholder="BN-00" pattern="^(?=.[BN]).*$">
						<div *ngIf="submitted && f.name.errors" class="invalid-feedback">
							<div *ngIf="f.name.errors.required">Nhập tên bệnh nhân</div>
							<div *ngIf="f.name.errors.pattern">Nhập sai định dạng</div>
						</div>
					</div>
                    <div class="position-relative form-group">
                        <label for="address">Tỉnh/TP</label>
                        <input name="address" id="address" formControlName="address" type="text" class="form-control"
                               [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
                        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                            <div *ngIf="f.address.errors.required">Nhập địa điểm</div>
                        </div>
                    </div>
                    <div class="position-relative form-group">
                        <label for="lat">Vĩ độ</label>
                        <input name="lat" id="lat" formControlName="lat" type="text" class="form-control"
                               [ngClass]="{ 'is-invalid': submitted && f.lat.errors }">
                        <div *ngIf="submitted && f.lat.errors" class="invalid-feedback">
                            <div *ngIf="f.lat.errors.required">Nhập vĩ độ</div>
                        </div>
                    </div>
                    <div class="position-relative form-group">
                        <label for="lng">Kinh độ</label>
                        <input name="lng" id="lng" formControlName="lng" type="text" class="form-control"
                               [ngClass]="{ 'is-invalid': submitted && f.lng.errors }">
                        <div *ngIf="submitted && f.lng.errors" class="invalid-feedback">
                            <div *ngIf="f.lng.errors.required">Nhập kinh độ</div>
                        </div>
                    </div>
                    <div class="position-relative form-group">
                        <label for="patientGroup">Nhóm bệnh</label>
                        <input name="patientGroup" id="patientGroup" formControlName="patientGroup" type="text" class="form-control"
                               [ngClass]="{ 'is-invalid': submitted && f.patientGroup.errors }">
                        <div *ngIf="submitted && f.patientGroup.errors" class="invalid-feedback">
                            <div *ngIf="f.patientGroup.errors.required">Nhập nhóm bệnh nhân</div>
                        </div>
                    </div>
					<div class="position-relative form-group">
                        <label for="note">Ghi chú</label>
                        <input name="note" id="note" formControlName="note" type="text" class="form-control"
                               [ngClass]="{ 'is-invalid': submitted && f.note.errors }">
                        <div *ngIf="submitted && f.note.errors" class="invalid-feedback">
                            <div *ngIf="f.note.errors.required">Nhập nhóm bệnh nhân</div>
                        </div>
                    </div>
                    <div class="position-relative form-group">
                        <label for="verifyDate">Ngày tiếp nhận</label>
                        <input name="verifyDate" id="verifyDate" formControlName="verifyDate" type="date" class="form-control"
                               [ngClass]="{ 'is-invalid': submitted && f.verifyDate.errors }">
                        <div *ngIf="submitted && f.verifyDate.errors" class="invalid-feedback">
                            <div *ngIf="f.verifyDate.errors.required">Nhập ngày mắc bệnh</div>
                        </div>
                    </div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" (click)="c('Close click')">Hủy</button>
						<button type="submit" class="btn btn-primary">Thêm</button>
					</div>
				</form>
			</div>
		</ng-template>
		<div class="page-title-actions mb-3 text-right">
			<button type="button" class="btn-shadow d-inline-flex align-items-center btn btn-success" (click)="open(content)">
				<fa class="mr-2" name="plus"></fa>
				Thêm bệnh nhân
			</button>
		</div>

<!--				update patient form-->
		<ng-template #patient let-c="close" let-d="dismiss">
			<div class="modal-header">
				<h4 class="modal-title">Sửa thông tin bệnh nhân</h4>
				<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form name="form" [formGroup]="updateForm" (ngSubmit)="onSubmitUpdate()">
					<div class="position-relative form-group">
						<label for="updateName"></label>
						<input name="updateName" id="updateName" formControlName="updateName" type="text" class="form-control"
						       [ngClass]="{ 'is-invalid': submitted && f.updateName.errors}" placeholder="BN-00" pattern="^(?=.[BN]).*$">
						<div *ngIf="submitted && f.updateName.errors" class="invalid-feedback">
							<div *ngIf="f.updateName.errors.required">Nhập tên bệnh nhân</div>
							<div *ngIf="f.updateName.errors.pattern">Nhập sai định dạng</div>
						</div>
					</div>
					<div class="position-relative form-group">
						<label for="updateAddress">Tỉnh/TP</label>
						<input name="updateAddress" id="updateAddress" formControlName="updateAddress" type="text" class="form-control"
						       [ngClass]="{ 'is-invalid': submitted && f.updateAddress.errors }">
						<div *ngIf="submitted && f.updateAddress.errors" class="invalid-feedback">
							<div *ngIf="f.updateAddress.errors.required">Nhập địa điểm</div>
						</div>
					</div>
					<div class="position-relative form-group">
						<label for="updateLat">Vĩ độ</label>
						<input name="updateLat" id="updateLat" formControlName="updateLat" type="text" class="form-control"
						       [ngClass]="{ 'is-invalid': submitted && f.updateLat.errors }">
						<div *ngIf="submitted && f.updateLat.errors" class="invalid-feedback">
							<div *ngIf="f.updateLat.errors.required">Nhập vĩ độ</div>
						</div>
					</div>
					<div class="position-relative form-group">
						<label for="updateLng">Kinh độ</label>
						<input id="updateLng" formControlName="updateLng" type="text" class="form-control"
						       [ngClass]="{ 'is-invalid': submitted && f.updateLng.errors }">
						<div *ngIf="submitted && f.updateLng.errors" class="invalid-feedback">
							<div *ngIf="f.updateLng.errors.required">Nhập kinh độ</div>
						</div>
					</div>
					<div class="position-relative form-group">
						<label for="updatePatientGroup">Nhóm bệnh</label>
						<input name="updatePatientGroup" id="updatePatientGroup" formControlName="updatePatientGroup" type="text" class="form-control"
						       [ngClass]="{ 'is-invalid': submitted && f.updatePatientGroup.errors }">
						<div *ngIf="submitted && f.updatePatientGroup.errors" class="invalid-feedback">
							<div *ngIf="f.updatePatientGroup.errors.required">Nhập nhóm bệnh nhân</div>
						</div>
					</div>
					<div class="position-relative form-group">
						<label for="updateNote">Ghi chú</label>
						<input name="note" id="updateNote" formControlName="updateNote" type="text" class="form-control"
						       [ngClass]="{ 'is-invalid': submitted && f.updateNote.errors }">
						<div *ngIf="submitted && f.updateNote.errors" class="invalid-feedback">
							<div *ngIf="f.updateNote.errors.required">Nhập nhóm bệnh nhân</div>
						</div>
					</div>
					<div class="position-relative form-group">
						<label for="updateVerifyDate">Ngày tiếp nhận</label>
						<input name="updateVerifyDate" id="updateVerifyDate" formControlName="updateVerifyDate" type="date" class="form-control"
						       [ngClass]="{ 'is-invalid': submitted && f.updateVerifyDate.errors }">
						<div *ngIf="submitted && f.updateVerifyDate.errors" class="invalid-feedback">
							<div *ngIf="f.updateVerifyDate.errors.required">Nhập ngày mắc bệnh</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" (click)="c('Close click')">Hủy</button>
						<button type="submit" class="btn btn-primary">Lưu</button>
					</div>
				</form>
			</div>
		</ng-template>
		<div class="main-card mb-3 card" >
			<div class="card-body">
				<table class="mb-0 table table-striped">
					<thead>
					<tr class="text-center">
						<th class="title" style="max-width: 150px">Bệnh nhân</th>
						<th>Tỉnh</th>
						<th style="min-width: 100px">Ghi chú</th>
						<th class="title">Tác vụ</th>
					</tr>
					</thead>
					<tbody>
					<tr class="text-center" *ngFor="let item of datas | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
						<td>{{item.patientName}}</td>
						<td class="text-left">{{item.note}}</td>
						<td>{{item.createdAt}}</td>
						<td>
              <i class="vsm-icon pe-7s-config mr-2 ico-edit" (click)="openUpdatePatient(patient, item.id)"></i>
              <i class="vsm-icon pe-7s-trash ico-trash" (click)="Delete(item.id)"></i>
	          </td>
					</tr>
					</tbody>
					<td *ngIf="datas.length == 0" class="no-data text-center mt-3 w-100" > Không có bệnh nhân nào ! </td>
				</table>
			</div>
		</div>
	</div>
</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>